<h1>here we list users</h1>

<% users.forEach(function(user) {  %>
<div>
    <p>
        <b>first name:</b><%= user.firstName %>
       <b>lastname:</b><%= user.lastName %>
    </p>
    
</div>
    <% }) %>

    